* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cinzel", serif;
    background-image: url("darkgreyBack.jpg");
    color: silver;
    position: relative;
    z-index: 1;

}

.ashen {
    display:flex;
    font-size:large;
    gap:20px;
    border:2px solid black;
    border-radius:10px;
    background: rgba(0, 0, 0, 0.75);
    margin:15px;
    margin-top:50px;
    padding:10px;
    
}
.ashen h1 {
    font-size:2rem;
}
.ashen-img {
    padding:px;
}
.header {
    background-image: url("darksouls3.webp");
    background-size: cover;
    padding: 70px 20px;
    text-align: center;
}

.header h1 {
    font-family: "Cinzel", serif;
    font-size: 3rem;
    letter-spacing: 4px;
    color: silver
}

.bosses {
    max-width: 1200px;
    margin: auto;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.boss-card {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 18px;
    padding: 10px;
    transition: transform 0.2s ease;
}


.boss-card h2 {
    font-family: "Cinzel", serif;
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.img-container {
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 20px;
}

.img-container img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.img-container:hover img {
    transform: scale(1.12);
}


.overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(50, 34, 34, 0.75);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    transition: bottom 0.4s ease;
    font-size: 0.95rem;
}

.img-container:hover .overlay {
    bottom: 0;
}

.boss-card p {
    font-size: 0.9rem;
    color: #ccc;
}
.Soul-Card {
    border: 2px solid black;
    border-radius: 7px;
    margin: 40px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    font-family:"Cinzel", serif;
}

.Soul-img {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.Soul-img img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease-out;
    border-radius: 4px;
}

.Soul-img img:hover {
    transform: scale(0.9);
}


.Soul-overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 30%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: bottom 0.4s ease;
    padding: 15px;
}


.Soul-img:hover .Soul-overlay {
    bottom: 0;
}
